Li a img {
  opacity: 0.7;
}

.menu-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  gap: 5px;
  font-weight: 400;
  color: #9c9c9c;
  font-size: 16px;
  height: 35px;
  width: 100%;
}

.menu-title-lable {
  @apply text-xs;
}

.menu-list li img {
  opacity: 0.5;
}

.NavigationItem {
  margin: 0;
  padding: 10px 0;
  display: block;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: #318260;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.collapse-y {
  @apply px-5;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 18px;
}

.collapse-header {
  @apply flex flex-row justify-between items-center cursor-pointer;
  color: #2dd4bf;
}

.collapse-y-content {
  /* position: absolute;
  top: 35px;
  left: 40px; */
  padding-top: 9px;
  transition: all 0.5s ease-out;
}

.collapse-y-content-close {
  /* visibility: hidden; */
  display: none;
  /* transform: translateY(-1.5em); */
  opacity: 0;
}

.collapse-y-content-open {
  /* visibility: visible; */
  display: block;
  opacity: 1;
  /* transform: translateY(0%); */
}

@media (max-width: 499px) {
  .NavigationItem {
    margin: 10px 0;
    display: block;
    flex-direction: row;
    width: 100%;
  }

  .NavigationItem a {
    color: #318260;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
  }

  .NavigationItem a:hover,
  .NavigationItem a :active {
    color: aliceblue;
  }
}
