h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.container-add-product {
  @apply font-sans bg-gray-100;
  border-radius: 5px;
  /* box-shadow: inset 15px #b4b4b8; */
  width: 50%;
  height: 90% !important;
  padding: 10px 70px;
}

.container-add-product .input-container-add-product {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.container-add-product .button-container-add-product {
  display: flex;
  margin-top: 30px;
  /* float: right; */
  padding-left: 70%;
  gap: 10px;
}
