h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.container {
  @apply font-sans shadow-md;
  border-radius: 5px;
  box-shadow: inset 15px #b4b4b8;
  width: 100%;
  min-height: 600px;
  max-height: 1000px;
  padding: 10px 70px;
}

.container .input-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.container .button-container {
  display: flex;
  margin-top: 30px;
  float: right;
  padding-right: 10%;
  gap: 10px;
}
