.cotainer {
  gap: 50px 20px;
}

.card-report-section {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 30px;
}

.info-graphics-card-section {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 10px;
}

.info-graphics-card-section .card-body-wrap {
  @apply card-body;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 499px) {
  .card-report-section {
    flex-direction: column;
  }
}
