.login-container {
  @apply shadow-sm rounded-sm;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.card-container {
  @apply card bg-gray-100 shadow-md;
  width: 50%;
}

.login-container .button-container {
  display: flex;
  padding-right: 10px;
}
