.NavigationItems {
  @apply menu bg-gray-100 w-60 p-2 shadow-sm;
  position: fixed;
  top: 80px;
  left: 0;
  height: 90%;
  width: 290px;
  z-index: 100;
  overflow: scroll;
}

/* mobile view */
@media (max-width: 499px) {
  .NavigationItems {
    @apply w-32 p-1;
  }
}
