.NavigationItems {
  @apply menu bg-base-100 w-60 p-2 rounded-box shadow-md;
  position: fixed;
  top: 70px;
  left: 0;
  height: auto;
}
/* mobile view */
@media (max-width: 499px) {
  .NavigationItems {
    @apply w-32 p-1;
  }
}
